VITE_API_URL=https://api.openair.city/v1
VITE_MAPBOX_TOKEN=
VITE_MAP_CENTER=[48.709144,44.506645]
VITE_MAP_ZOOM=13
VITE_MAP_REFRESH_PERIOD=30000
VITE_MAP_CHARTS_TIME_WINDOW=24
VITE_MAP_CHARTS_UPDATE_PERIOD=120
